.button-container {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 180px;
    height: auto;
    padding: 10px;
    background-color: lightgrey;
    border: 1px solid #c6c6c6;
    border-radius: 8px;
    pointer-events: none;
    opacity:0;
}
